html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    height: 100%;
    background-color: #9aa7af;
}

.container {
    margin: auto;
    padding: 1em;
    width: 80%;
}

.destination-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.destination {
    background: #000;
    box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.4);
    color: #444240;
    font-size: 1.4em;
    margin: 0.5em;
    min-height: 200px;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    margin: 0;
    transform: rotate(-45deg);
    font-family: 'Permanent Marker', cursive;
    /* text-shadow: 0 0 5px #444240; */
}

#florida {
    background-color: #e07108;
}

#argentina {
    background-color: #f2dc5e;
}

#mexico, #new_zealand {
    background-color: #5ef1d6;
}

#moskow {
    background-color: #5daef0;
}
